
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212944;
    color:white;
    
    
}

img {
    max-height: 400px;
    max-width: 400px;


}


/*Skapar containern för bannern*/
.banner {
    
    background-color: #181818;
    color: white;
    
    display: flex;
        justify-content: space-around;
        gap: 40%;
    
    position:sticky;

}

/*Sökruta*/
#placeholder {
    background-color: white;
    height: 30px;
    width: 500px;

    border-radius: 20px;
}

/* Definerar regler för dem två barn som innehåller det som visas på bannern.*/
.bannerchild {
    display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4%;
        

    height: 18vh;
    width: 18%;
    margin-right: 4%;
}

#frontpage {
    display: flex;
        align-items: center;
        flex-direction: column;
        

    text-align: center;
    margin-top: 2%;

    
}

#frontpage_text {
    width: 60%;
    margin-top: 2%;
}

/*Definerar positioner för bilderna*/
#frontpage_image_container {
    

    display: flex;
        justify-content: center;
        gap: 1.5%;

    margin-top: 1%;
}

.frontpage_image {
    width: 20%;
}

.category_image {
    width: 65%;
    overflow:hidden;
}



.categories {
    margin-top: 2%;

    display: flex;
        align-items: center;
        flex-direction: column;
        


}

.category_card_container {

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);

    padding: 1%;
    margin-left: 1%;
    margin-top: 2%;
    width: 75%;

    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    box-shadow: 0px 0px 10px 6px #7282b7;          
}

.category_container_child {
    display: flex;
        flex-direction: column;
        align-items: center;
    
    max-width: 30%;
    background-color: rgb(222, 222, 222);
    margin: 1%;
    padding-top: 2%;

    border-style:solid;
    border-color:#bebec0;
    border-radius: 10px;

    text-decoration: none;
    color: black;
    
}

a:hover {
    box-shadow: 0px 0px 12px 2px rgb(106, 106, 106);
}

.products {
    margin-top: 4%;

    color: black;

    display: flex;
        align-items: center;
        flex-direction: column;
}

.products-container {
    margin-top: 8%;
    padding: 2%;

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 10px 6px #7282b7;  


    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4%;

    width: 75%;
    
}

.product-card {
    background-color: rgb(222, 222, 222);

    display: flex;
        flex-direction: row;

    padding: 1%;
    border-radius: 10px;

    width: 40%;
    height: 28vh;
    


}

.product-image {
    width: 100%;
}

.image-column {
    width: 40%;


}

.text-column {

    width: 60%;

    display: flex;
        align-items: center;
        flex-direction: column;



}


footer {
    
    margin-top: 10%;

    background-color: rgb(42, 42, 42);
    display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;


    height: 200px;
}

