
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212944;
    color:white;

    display: flex;
        flex-direction: column;
        align-items: center;
    
    
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 60px;
    border: none;
    padding: 1%;
}

button:hover {
    background-color: rgb(30, 30, 30)
}

a {
    text-decoration: none;
    color: white;
}

/* definerar egenskaper för sidebaren */
.sidebar {
    background-color: #181818;

    position: fixed;
    top: 12%;
    left: 0;

    z-index: 1;
    width: 0px;
    height: 100%;

    overflow:hidden;
    transition: 0.2s;
    
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16%;
        
}
/* definerar egenskaper för alla länkar till kategorier. */
.sidebarCategories {

    margin-top: 10%;
    height: 20%;    
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
}

/*Skapar containern för bannern*/
.banner {
    
    background-color: #181818;
    color: white;
    width: 100%;
    
    
    display: flex;
        align-self: flex-start;
        justify-content: space-around;
        gap: 40%;

    position: fixed;
    top: 0;
}

/*Sökruta*/
#placeholder {
    background-color: white;
    height: 30px;
    width: 500px;

    border-radius: 20px;
}

/* Definerar regler för dem två barn som innehåller det som visas på bannern.*/
.bannerchild {
    display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4%;
        
    height: 12vh;
    width: 18%;
    margin-right: 4%;
}


.cart {
    position: fixed;
        left: 70%;
        top: 13%;
    
    display: none;
    z-index: 1;
    width: 22%;
    height:fit-content;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    border-radius: 6px;
    background-color: white;
    color: black;
    padding: 0.5%;

    /*display: flex;
        justify-content: flex-start;
        flex-direction: column;   */
}

.cart-item {
    display: flex;
        justify-content: space-around;

    margin-bottom: 1%;

}

.cart-image {
    width: 100px;
}

.cart-item-quantity {
    display: flex;
        flex-direction: column;
}

.cart-item-text {
    display: flex;
    flex-direction: column;
    
}

.cart-icon {
    display: flex;
}

#frontpage {
    display: flex;
        align-items: center;
        flex-direction: column;
        

    text-align: center;
    margin-top: 7%;    
}

#frontpage_text {
    width: 60%;
    margin-top: 2%;
}

/*Definerar positioner för bilderna*/
#frontpage_image_container {
    

    display: flex;
        justify-content: center;
        gap: 1.5%;

    margin-top: 1%;
}

.frontpage_image {
    width: 20%;
}

.category_image {
    width: 80%;
    border-radius: 5px;
    overflow:hidden;
}



.categories {
    margin-top: 4%;

    display: flex;
        align-items: center;
        flex-direction: column;
}



.category_card_container {

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 10px 6px #7282b7; 

    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    width: 72%;

    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

             
}

.category_container_child {
    display: flex;
        flex-direction: column;
        align-items: center;
    
    width: 20%;
    min-width: 200px;
    background-color: rgb(232, 232, 232);
    margin: 1%;
    padding-top: 2%;

    border-style:solid;
    border-color:#bebec0;
    border-radius: 10px;

    text-decoration: none;
    color: black;
    
}

a:hover {
    box-shadow: 0px 0px 8px 2px rgb(106, 106, 106);
}

.products {
    margin-top: 6%;
    height: fit-content;
    display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
}

.products-container {
    margin-top: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding: 1%;
    
    color: black;

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 10px 6px #7282b7;  


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 2%;

    width: 76%;
    min-width: 370px;
    
}

.product-image {
    
    width: 52%;
    padding: 1.4%;
    border-radius: 10px;
    display: flex;
        align-items: center;


}

h3{margin: 0%;}
ul{
    margin:4%;
    font-size: 90%;
    
}

.product-card {
    background-color: rgb(232, 232, 232);
    color: black;

    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 6%;
    
    padding: 0.75%;
    border-radius: 10px;

    width: 24%;
    
    min-width: 340px;

    border-style:solid;
    border-color:#bebec0;
    border-radius: 10px;
}

.product-information {
    width: 100%;
    margin-left: -10%;
}

.product-text {
    width: 58%;

    display: flex;
        flex-direction: column;
}

.product-price {
    width: 100%;

    display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
        
}

.product-price-text {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    color: rgb(0, 0, 0);
    text-decoration: underline;


}

/* Här börjar CSS-koden för cart.html-sidan. */

/* Skapar all relevant kod för  raderna som kontrollerar */

#cart-page-container {
    width: 80%;
    background-color: white;
    color:black;
    margin-top: 10%;
    padding: 1.5%;
    height: fit-content;

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 10px 6px #7282b7;  

    display: flex;  
}

.cart-page-product-column {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        

}


.cart-page-product-row {
    color: black;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2%;
    padding: 0.5%;
    /*gap ville inte funka här av nån dum anledning, så det fick bli marigns*/

    background-color: rgb(239, 239, 239);
    border-radius: 6px;
}

.cart-page-image {
    width: 20%;
    border-radius: 7px;
}

#purchase-btn {
    padding: 0% 60%;
    border-radius: 0px;
    background-color: rgb(26, 183, 26);
}

#purchase-btn:hover {
    background-color: rgb(10, 157, 10)
}


@media only screen and (max-width: 600px) {

#frontpage_image_container {flex-wrap:wrap; gap: 3%;}

.frontpage_image {
    width: 40%;
}

.category_container_child h4{font-size: 0.65em}
.category_container_child{min-width: 44%;}

.products-container {min-width: 80%;}
.product-information {
    display: none;
}

.product-card {
    border-radius: 5px;
    min-width: 40%;
    flex-direction: column;
    align-items: center;
}

.product-image {
    border-radius: 5px;
    width: 80%;
}

.product-text {width: 100%; align-items: center;}

.product-price {justify-content: center;}

.product-card h3, h4 {font-size: 0.6rem}


}

    


footer {
    
    margin-top: 10%;

    background-color: rgb(42, 42, 42);
    display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    height: 250px;
    width: 100%;
}

.footer-container {
    width: 40%;
    display: flex;
        justify-content: space-between;


}

.footer-container-child {

    display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 6px;

}

