
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212944;
    color:white;
    
    
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 60px;
    border: none;
    padding: 1%;
}

button:hover {
    background-color: rgb(30, 30, 30)
}

a {
    text-decoration: none;
    color: white;
}

.sidebar {
    background-color: #181818;

    position: fixed;
    top: 12%;

    z-index: 1;
    width: 0px;
    height: 100%;

    overflow:hidden;
    transition: 0.2s;
    
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16%;
        
}

.sidebarCategories {

    margin-top: 10%;
    height: 20%;    
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
}

/*Skapar containern för bannern*/
.banner {
    
    background-color: #181818;
    color: white;
    width: 100%;
    
    
    display: flex;
        align-self: flex-start;
        justify-content: space-around;
        gap: 40%;

    position: fixed;
    top: 0;
}

/*Sökruta*/
#placeholder {
    background-color: white;
    height: 30px;
    width: 500px;

    border-radius: 20px;
}

/* Definerar regler för dem två barn som innehåller det som visas på bannern.*/
.bannerchild {
    display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4%;
        
    height: 12vh;
    width: 18%;
    margin-right: 4%;
}

#frontpage {
    display: flex;
        align-items: center;
        flex-direction: column;
        

    text-align: center;
    margin-top: 7%;    
}

#frontpage_text {
    width: 60%;
    margin-top: 2%;
}

/*Definerar positioner för bilderna*/
#frontpage_image_container {
    

    display: flex;
        justify-content: center;
        gap: 1.5%;

    margin-top: 1%;
}

.frontpage_image {
    width: 20%;
}

.category_image {
    width: 70%;
    height: 100%;
    border-radius: 5px;
    overflow:hidden;
}



.categories {
    margin-top: 4%;

    display: flex;
        align-items: center;
        flex-direction: column;
}



.category_card_container {

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);

    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    width: 64%;

    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    box-shadow: 0px 0px 10px 6px #7282b7;          
}

.category_container_child {
    display: flex;
        flex-direction: column;
        align-items: center;
    
    width: 28%;
    min-width: 200px;
    background-color: rgb(232, 232, 232);
    margin: 1%;
    padding-top: 2%;

    border-style:solid;
    border-color:#bebec0;
    border-radius: 10px;

    text-decoration: none;
    color: black;
    
}

a:hover {
    box-shadow: 0px 0px 8px 2px rgb(106, 106, 106);
}

.products {
    margin-top: 6%;
    display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
}



.products-container {
    margin-top: 1%;
    padding: 3%;
    color: black;

    border-style:solid;
    border-color: #7282b7;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 10px 6px #7282b7;  


    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4%;

    width: 64%;
    min-width: 360px;
    
}

.product-image {
    
    width: 46%;
    padding: 1.4%;
    border-radius: 10px;
    display: flex;
        align-items: center;


}

h3{margin: 0%;}
ul{
    margin:4%;
    font-size: 90%;
    
}

.product-card {
    background-color: rgb(232, 232, 232);
    color: black;

    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 8%;
    
    padding: 0.75%;
    border-radius: 10px;

    width: 36%;
    
    min-width: 340px;

    border-style:solid;
    border-color:#bebec0;
    border-radius: 10px;
}




.product-information {
    width: 100%;
    margin-left: -10%;
}

.product-text {
    width: 64%;
}




.product-price {
    width: 100%;

    display: flex;
        justify-content: flex-end;
        align-items: flex-end;
}

.product-price-text {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    color: rgb(0, 0, 0);
    text-decoration: underline;


}

footer {
    
    margin-top: 10%;

    background-color: rgb(42, 42, 42);
    display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;


    height: 200px;
    width: 100%;
}

